<div>
  <div class="container fs-6 fw-light mb-5 ddl-ddm-footer">
    <hr>
    <div class="row">
      <div class="col">
        This is a demo version of the Data Donation Module powered by the <a href="https://datadonation.uzh.ch">Data Donation Lab</a>
      </div>
      <div class="col">
        <b>Do not use this demo version for real projects.</b> If you are a member of the University of Zurich, use
        <a href="https://datadonation.uzh.ch/en/ddm/" target="_blank">the DDM instance hosted by the Data Donation Lab</a> instead. If you are not a member of the University of Zurich,
        contact the Data Donation Lab at <a href="mailto:datadonation@ikmz.uzh.ch">datadonation@ikmz.uzh.ch</a>.
      </div>
      <div class="col ps-4">
        <a href="https://github.com/uzh/ddm">Source Code</a>
      </div>
    </div>
  </div>
</div>
